<div class="container">
    <div class="row">
        <div class="col-md-9"
            *ngIf="selectedCar == undefined"
        >
            <div class="card">
                <div class="card-header">
                    Please select a car
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-md-9"
            *ngIf="selectedCar != undefined"
        >
            <div class="card">
                <div class="card-header">
                    <h2>{{selectedCar.title}}</h2>                               
                </div>
                <div class="card-body">
                    <div><img src={{selectedCar.visual}} alt="image" style="max-width:100%; max-height: 100%;"/></div>
                    <br />
                    <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3>Vehicle Info</h3>
                        <p><b>Year:</b> {{selectedCar.year}}</p>
                        <p><b>Make:</b> {{selectedCar.make}}</p>
                        <p><b>Model:</b> {{selectedCar.model}}</p>
                        <p><b>Mileage:</b> {{selectedCar.mileage}}</p>
                        <p><b>Price: </b> ${{selectedCar.price}} / day</p>
                        <p><b>Description:</b> {{selectedCar.description}}</p>
                    </div>
                    <div class="col-md-6 col-sm-12 text-left"
                    *ngIf="currentReservation !== undefined">  
                    
                    <h3>Reservation Details</h3>
                    
                        <label>From:
                        <input class="form-control"
                        id="fromInput"
                        type="text"
                         matInput [matDatepicker]="fromPicker"
                          (dateChange)="fromDateChanged($event)"
                        [formControl]="dateFrom"                          
                         >
                        </label>
                        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                        <mat-datepicker #fromPicker></mat-datepicker>
                        <br />
                        <label>To:
                            <input class="form-control"
                            id="toInput"
                            type="text"
                             matInput [matDatepicker]="toPicker" (dateChange)="toDateChanged($event)"
                            [formControl]="dateTo"
                             >
                            </label>
                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                            <mat-datepicker #toPicker></mat-datepicker>
                        <p>Price: {{currentReservation.fee}}</p>
                        <div class="alert alert-danger"
                            role="alert"
                            *ngIf="datesIncorrect == true">
                            Not a valid date range
                        </div>
                        <button class="btn btn-primary"
                    *ngIf="currentReservation.complete == false"
                (click)="reserveCar()"                
                    >Reserve</button>

                    <button class="btn btn-primary"
                    *ngIf="currentReservation.complete == true"
                    (click)="unReserve()"
                    >UnReserve</button>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <h2>Cars Available</h2>
            
            <div class="card">
                <div class="list-group list-group-flush">
                    <div
                    *ngFor="let c of cars"
                    >
                  <button 
                    class="list-group-item list-group-item-action"
                    *ngIf="c.available == true"
                    (click)="selectCar(c)"                    
                  >
                    {{ c.title }}
                  </button>
                  </div>
                </div>
              </div>
            
              <br />
              <br />
              <h2>My Reservations</h2>
              <div class="alert alert-danger"
               role="alert"
               *ngIf="maxRentalsReached == true">
                    Maximum Rentals Reached
            </div>
              <div
              *ngFor="let r of rentedCars"
              >
              <div class="card"
              (click)="selectReservation(r)"
              >
                <div class="card-header text-center">
                    <p>{{r.car.title}}</p>                    
                </div>
                <div class="card-body">
                    <p>{{r.from}} - {{r.to}}</p>                    
                    <p>Fee: {{r.fee}}</p>
                </div>
            </div>
            <br/>         
            </div>
        </div>
    </div>
</div>
